.header{
  background-color: #F8F8F8;
padding: 2em;
}
.footer{
  background-color: #153874;
  text-align: center;
  padding: 2em;
  color: #93A3BF;
}
.footer h3,p{
  margin: 0;
}
.container{
  width:90%;
  max-width:900px;
  margin:  auto;
 
 
}
.container-nav{
  display: flex;
  justify-content: space-between;
}
.logo h1,.logo p{
  margin: 0;
  text-align: center;
  
}
.logo p{
  color:#4FABDB;
  font-weight: 900;
  font-size:0.9rem;
  text-transform: uppercase;
}
.logo h1{
  color:#153874;
  font-weight: 400;
  font-size: 2rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ul{
  display: flex;
  
    
}
li{
  list-style: none;
  padding: 0;
  margin: 0.5em;
  text-decoration: none;
  color: #717171;
  letter-spacing: 1px;
  font-weight: 900;

}
.link{
  text-decoration: none;
}
.active{
  border-bottom: 1px solid #717171;
}
li:hover{
  color:#4FABDB;
}
.active:hover{
  color: #717171;
}



/*----------HOME----------*/

.main-container{
  display: flex;
  justify-content: space-between;
  padding: 3em;
  
}
.col-left{
  width:68%;
  
 
}


.featured-img{
  width:100%;
}
.featured-img img{
  max-width: 100%;
  object-fit: contain;
}
.comments{
  margin: 2em 0;
  font-size: 0.8rem;
}
.article-title{
  color:#153874;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 400;
  margin: 0;
}
a{
  color: #1792D2;
}
.article-read-more{
  color:#1792D2;
  font-weight: 900;
  margin: 2em 0;
  text-decoration: none;
}
.article-content{
  margin:1em 0;
}
.article-read-more:hover{

  border-bottom: 1px solid #153874;
  color:#153874;
}
hr{
  margin:1em 0;
}
.article{
  display: flex;
  justify-content: space-between;
  
  margin: 2em 0;
}
.article-col1{
  width: 29%;
  height: 140%;
 
}

.article-col2{
  width: 69%;
 
}
.article-img{
  width: 100%;
 
 
}
.article-img img{
  max-width: 100%;
 object-fit: cover;
  min-height: 250px;
}

.col-right{
  width: 28%;
  display:flex;
 flex-direction: column;
  
}

.right-col{
  background-color: #EFEFEF;
  
  padding: 1.2em;
  margin-bottom: 1em ;
}
.right-col-container{
background-color: white;
padding: 1em ; 
 display: flex;
 flex-direction: column;
margin:0;
}
.right-col-title{
  
  margin-bottom:1em;
  color:#143774;
  text-transform: uppercase;
}

.right-col-container img{
  object-fit: cover;
  max-width: 100%;
}
.right-col-article-title{
  color:#143774;
  margin: 0;
  padding: 0;
  font-weight: 500;
}

.about-img img{
  max-height: 10%;
  object-fit: fill;
}
.about-me-h1{
  color:#143774;
  font-weight: 400;
}
.about-me-h2{
  color: #1792D2;
  font-weight: 400;
}





@media (max-width:800px){
  .container-nav{
    flex-direction: column;
    text-align: center;
   
    
  }
  ul{
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  .main-container{
    flex-direction: column;
  }

  .col-left{
    width:95%;
   
  }
  .col-right{
    width:95%;
  }
  .article{
    flex-direction: column;
  }

  .article-col1{
    width: 100%;
  }
  .article-col2{
    width: 100%;
  }



}

